.d-in-b{
    display: inline-block;
}
.w75{
    width: 75px;
}

.w100{
    width: 100px;
}

.w125{
    width: 125px;
}

.w150{
    width: 150px;
}
.w175{
    width: 175px;
}
.w200{
    width: 200px;
}